<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="TenisEstadisticas.TenisEstadisticas" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="TenisEstadisticas" android:icon="@drawable/Icon"></application>
</manifest>